<div class="animated fadeIn fast">
    <h1>Buscador: <small>{{ termino }}</small></h1>
    <hr>

    <div class="row" *ngIf="heroes.length == 0">
        <div class="col-md-12">
            <div class="alert alert-primary" role="alert">
                Lo sentimos no existen resultados con el termino: {{ termino }}
            </div>
        </div>
    </div>

    <div class="card-columns animated faceIn fast">
        <app-hero-card [hero]="hero" [idx]="hero.idx" *ngFor="let hero of heroes"></app-hero-card>
    </div>
</div>
