<div class="animated fadeIn fast">
    <h1>Buscador: <small>{{ termino }}</small></h1>
    <hr>

    <div class="row" *ngIf="heroes.length == 0">
        <div class="col-md-12">
            <div class="alert alert-primary" role="alert">
                Lo sentimos no existen resultados con el termino: {{ termino }}
            </div>
        </div>
    </div>

    <div class="card-columns animated faceIn fast">
        <div class="card" *ngFor="let hero of heroes; let i = index">
            <img [src]="hero.img" class="card-img-top" [alt]="hero.nombre">
            <div class="card-body">
              <h5 class="card-title">{{ hero.nombre }}</h5>
              <p class="card-text">{{ hero.bio }}</p>
              <p class="card-text"><small class="text-muted">{{ hero.aparicion }}</small></p>
              <button (click)="handleHero(i)" type="button" class="btn btn-outline-primary btn-block">Ver mas</button>

              <!-- <a [routerLink]="['/hero', i]" class="btn btn-outline-primary btn-block">Ver mas</a> -->
            </div>
        </div>
    </div>
</div>
